{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">{{ group.name }}</h1>

    <!-- Display messages -->
    {% for message in group.messages %}
        <div class="card mb-3 bg-light">
            <div class="card-body">
                <h5 class="card-title text-primary">{{ message.author }}</h5>
                <p class="card-text ">{{ message.text }}</p>
                <p class="card-text "><small class="text-muted">{{ message.created.strftime('%Y-%m-%d %H:%M:%S') }}</small></p>
            </div>
        </div>
    {% endfor %}

    <!-- Add new message form -->
    <div class="card">
        <div class="card-body">
            <form method="POST" action="{{ url_for('users.add_message', group_name=group.name) }}">
                <div class="form-group">
                    <label for="text">Your Message</label>
                    <textarea class="form-control" id="text" name="text" rows="3" placeholder="Type your message here..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
