{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-4">Groups</h1>
    <div class="row">
        {% for group in groups %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ group.name }}</h5>
                    <p class="card-text">Admin: {{ group.admin }}</p>
                    <a href="{{ url_for('users.group_detail', group_name=group.name) }}" class="btn btn-primary">Join</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
