<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .registration-container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .register-btn {
            background-color: #28a745;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="registration-container">
            <h2 class="text-center">Register</h2>
            
            <form method="POST" action="{{ url_for('users.register') }}">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.email.label }} 
                    {{ form.email  }}
                </div>

                <div class="form-group">

                    {{ form.username.label }} 
                    {{ form.username  }}

                </div>
                <div class="form-group">

                    {{ form.password.label }} 
                    {{ form.password  }}

                </div>
                <div class="form-group">
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password }}
                </div>
                
                    {{ form.submit}}
                    
            </form>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
